body, html {
	width: 100%;
  min-height: 100%;
}

body {
	font-family: 'Inconsolata';
	color: #141414;
}

header {
	background: #E26A6A;
	width: 100%;
	float: left;
}

section {
	background: #52B3D9;
	width: 60%;
	float: left;
}

aside {
	background: #68C3A3;
	width: 20%;
	float: left;
}

footer {
	background: #F5AB35;
	width: 100%;
	float: left;
}

.filler {
	padding: 20px;
	margin: 15px;
	background-color: white;
	opacity: .5;
}

.content {

}